<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/143eafbf8c.js"
      crossorigin="anonymous"
    ></script>
    <title>Job Scrapper</title>
  </head>
  <body>
    <div class="home">
      <div class="home-bgimage"></div>
      <div class="home-main">
        <h1>Job Scrapper</h1>
        <h4>What job do you want?</h4>
        <form action="/search" class="home-search-form">
          <input type="text" name="keyword" placeholder="Write keyword..." />
          <button>
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
